spring:
  application:
    name: api-starter-kit
  profiles:
    active: dev

app:
  jwt:
    secret: ${JWT_SECRET:F/515+ni8PxjfxiC9puYYJ5dFz8QVml/UkznUUcRFQhcvCUVv+Gok7wOq+XRfyqhJENQTNIMpyXTw2OIWj2C2w==}
    expiration: 86400000

---
spring:
  config:
    activate:
      on-profile: dev
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  management:
    endpoints:
      web:
        exposure:
          include: health, info, metrics
    endpoint:
      health:
        show-details: always